DEBUG="false"
ALLOWED_HOSTS='["10.0.2.15", "listcore"]'
CSRF_TRUSTED_ORIGINS='["http://10.0.2.15:8090", "http://listcore"]'
DB_ENGINE=django.db.backends.postgresql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
TOKEN=n21P+W5IOCY3OEQpnxwns8CxiKQ=
webhookmasivo=http://mainapp/lists/webhook
MONGODB=
DATABASE='list_core'
CELERY_BROKER_URL=redis://redis:6379