MONGO_URI=
MONGO_CORE_URI=
DATABASE=databik
JWT_ACCESS_TOKEN_EXPIRES=2
JWT_SECRET_KEY=
JWT_REFRESH_TOKEN_EXPIRES=30
REDIS_URI=redis://redis/0
LIST_KERNEL_URI=http://listcore:8000/list-api/
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
HASHCODE=sdflkjjs457d
BROKER=
BROKER_CONNECTION_RETRY_ON_STARTUP='true'
RESULT_PERSISTENT='true'
ENABLE_UTC='true'
RESULT_BACKEND=

CONFILIST_URL=https://api.confilist.com
USER_EMAIL=
USER_PASSWORD=
SYSTEM_EMAIL=
API_KEY=
MASSIVE_CLIENT_PERIOD=1200.0